absl-py==2.3.1
chex==0.1.90
contourpy==1.3.0
cycler==0.12.1
etils==1.5.2
fonttools==4.60.2
importlib-metadata==8.7.1
importlib-resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
kiwisolver==1.4.7
matplotlib==3.9.4
ml-dtypes==0.5.4
numpy==2.0.2
opt-einsum==3.4.0
optax==0.2.4
packaging==26.0
pillow==11.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.13.1
six==1.17.0
toolz==1.1.0
typing-extensions==4.15.0
zipp==3.23.0
